
.addNew, .addNewDepos{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f4a040;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* text-align: center; */
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px #2b4255;
  transition: all .5s;
}
.addNewDepos{
  bottom: 80px;
  background: #03bf03;
}

.addNew img, .addNewDepos img{
  width: 100%;
  display: block;
  opacity: .8;
  transform: rotate(0deg);
  transition: transform .5s;
}

.addNew:hover{
  background: #ef8206;
  transition: all .5s;
}

.addNewDepos:hover{
  background: #049304;
  transition: all .5s;
}

.addNew:hover img, .addNewDepos:hover img{
  transform: rotate(180deg);
  transition: transform .5s;
}
